.TaskModal{
    // display: block;
    position: absolute;
    right: 0;
    top: 90%;
    z-index: 2;
    background-color: white;
    padding:  10px;
    height: 100px;
}

// dynamic class
.show{
    display: block;
}
.hidden{
    display: none;
}