
@import "./mixins/_glass-effect";



.Timer{
  position: relative;
  border-radius: 20px;
  margin-top:  30px;
  padding: 10px 0 ;

  // from css.glass
  @include glass-effect(16px, false);


  .timerTick{
    margin:  30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tick{
      margin: 30px 0;
      .currentTime{
        color:  white ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 7rem;
        font-weight: bolder;
      }
    }

    .btnSS{
      display: flex;

      .startButton,
      .pauseButton{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        color: white
      }
      .startButton{
        width: fit-content;
        background:linear-gradient(to bottom, #ffffff 5%, #ededed 100%);
        background-color:#ffffff;
        border-radius:4px;
        display:inline-block;
        cursor:pointer;
        color: rgba(0, 0, 0, 0) ;
        font-family:Arial;
        font-size:18px;
        font-weight:bold;
        padding:12px 30px;
        text-decoration:none;
        text-shadow:0px 0px 0px #4d4d4d;

        &:hover{
          background:linear-gradient(to bottom, #ededed 5%, #ffffff 100%);
	        background-color:#ededed;
        }

        &:active{
          position:relative;
	        top:1px;
        }
      }

      .pauseButton{
        margin-left: 10px;
        line-height: 1px;
      }

    }
  }


  .btnWrapper{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;

    @media screen and (min-width: 600px) {
      width: 60%;
    }


    .SwitchButton{
      padding: 4px 10px;
      background-color: transparent;
      border-radius:  10px;
      border:  0;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;

      &:hover{

      }
    }
  }
}
