@import "../mixins//_glass-effect";


.taskWrapper{
    position: relative;
    margin-top:  30px;
    // padding-bottom:  30px;
    // min-height: 100%;

    // taskLinks
    .taskList{
        background-color: white;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 5px;
        border-radius: 5px;
        border-left: 5px solid black;
        cursor: pointer;

        &:hover{
            background-color: rgba(255, 255, 255, 0.623);
        }

        .inWrap{
            display: flex;
            align-items: center;


            .taskDone{
                margin: 0 10px ;
                font-size: 1.3 rem;
                border-radius: 50%;
                padding: 5px;
                background-color: rgba(75, 74, 74, 0.137);
                cursor: pointer;

                &:hover{
                        background-color: rgba(105, 104, 104, 0.123);
                }
            }
        }

        .title{
        }

    }


    .TaskHolder{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom:  2px solid rgba(180, 180, 180, 0.555);


        .justTask{
            color: white;
            font-size: 1.4rem;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            @media screen and (max-width: 600px) {
                font-size: 1rem;  // small devices && below
            }
        }

            .taskOptions{
                cursor: pointer;
                color: white !important;
                padding: 5px;
                @include glass-effect(5px, true);
        }
    }

    .AddTask{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        padding: 20px ;
        border: 2px dashed #36343421;
        @include glass-effect(0, true);

        color:  rgba(255, 255, 255, 0.432);

        .icon{
            margin-right: 5px;
            width: fit-content;
            font-size: x-large;
        }

        h5{
            font-size: larger;
        }
    }

}